{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "✨ New Features"
            },
            {
              "type": "fix",
              "section": "🐛 Bug Fixes"
            },
            {
              "type": "perf",
              "section": "⚡ Performance Improvements"
            },
            {
              "type": "revert",
              "section": "Reverts",
              "hidden": true
            },
            {
              "type": "docs",
              "section": "📚 Documentation"
            },
            {
              "type": "style",
              "section": "Styles",
              "hidden": true
            },
            {
              "type": "chore",
              "section": "Miscellaneous",
              "hidden": true
            },
            {
              "type": "refactor",
              "section": "Code Refactoring",
              "hidden": true
            },
            {
              "type": "test",
              "section": "Tests",
              "hidden": true
            },
            {
              "type": "build",
              "section": "Build System",
              "hidden": true
            },
            {
              "type": "ci",
              "section": "Continuous Integration",
              "hidden": true
            }
          ]
        },
        "writerOpts": {
          "commitPartial": "* {{header}}\n\n{{#if body}}{{body}}\n\n{{/if}}"
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./scripts/publish.sh ${nextRelease.version}"
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "message": "chore(release): 🚀 publish version ${nextRelease.version}\n\n${nextRelease.notes}\n\n[skip ci]",
        "assets": [
          "CHANGELOG.md",
          "custom_components/tado_hijack/manifest.json"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "dist/*.zip"
        ]
      }
    ]
  ],
  "branches": [
    "main",
    {
      "name": "rc",
      "channel": "rc",
      "prerelease": "rc"
    },
    {
      "name": "dev",
      "channel": "dev",
      "prerelease": "dev"
    }
  ]
}
